<html>
	<head>
		<title>#{{WebName}}-About</title>
		<meta name="viewport" Content="width=device-width, inital-scale=0.1">
		<link rel="stylesheet" href="/static/bootstrap.css" media="screen">
		<link rel="icon" type="/image/png" href="/static/resorces/favicon16.png" sizes="16x16">
		<link rel="icon" type="/image/png" href="/static/resorces/favicon32.png" sizes="32x32">		
		<link rel="icon" type="/image/png" href="/static/resorces/favicon48.png" sizes="48x48">
	</head>
		<div class="col-md-12">
			<nav class="navbar navbar-inverse pfixedwide" role="navigation">
      			<a class="navbar-brand" href="/">#{{WebName}}</a>
		   	   	<a class="navbar-brand" href="/About">About</a>
      			<a class="navbar-brand" href="/Faq">Faq</a>
      			<a class="navbar-brand" href="/new">Most Recent Storys</a>
			</nav>
		</div>
		<div class="col-md-12">
			<nav class="navbar navbar-inverse pfixedwide bottombar" role="navigation">
    			<center><h4>©2014 Me Gone Mad1</h4></center>
			</nav>
		</div>
				<div class="col-md-12 jumbotron fulljumbo BlueBorder indent-5 " >
					<div class="BlueFill ">
							<h1>About</h1>
							</div>
							<div class="panel panel-body ">
  							
							<h2>About me</h2>
							<p>My name is Rhys, I am currently a sixth form student in England. I am doing my best to learn as much as I can about computer programing and its many&nbsp;facets. I am hoping to learn more over the coming years and ultimately get a career in this field.</p>
							<h2>The Mob Book Idea</h2>
							<p>The basic premise of the mob book is anyone can create a story, it allows anyone to jump in and start writing the bits they want to write. As anyone can add a line at any point in the story and begin creating/collaborating their own there is never just one story to be told, the reader becomes an active part of the story choosing exactly what happens next without ever knowing ahead of time what will happen.&nbsp;</p>
							<h2>Why I Started this</h2>
							<p>as I mentioned before I have been making desktop applications for a while, this is the first time I have really had a look into creating a website which actually does anything interesting, when I was looking for an excuse to learn how to build all this I had found an old chose your own adventure book. I remember thinking to myself &quot;it&rsquo;s a shame you can&rsquo;t really chose, due to the limited options at any one time&quot;.</p>
							<p>So now I had found my idea, all I had to do now was build it. It took a long time to find an interface between a programing language and html which I liked. I had started looking into asp. net as it was in the language I knew most c# but I had found this to clunky and difficult to get started in. so I continued looking, eventually I found the Flask library for python which where both powerful enough and simple enough for me to create something meaningful quickly, and with no prior knowledge of the library.</p>
							<p>It&rsquo;s been a fun journey finding the answers to all the little problems that have come up, and I am grateful to the people who I have bothered on the way for putting up with my questioning.</p>
							<h2>What&rsquo;s next?</h2>
							<p>For me I plan on using this site as a reference something I can point people at and say &quot;I made this&quot; and &quot;isn&#39;t it pretty&quot; as for what happens on here; it&rsquo;s a social experiment. In other words go wild, use it for good or bad it&rsquo;s your choice.</p>
							<p>&nbsp;</p>	
						</div>
			  		
				</div>				
			
	</body>
</html>