<html>
	<head>
		<title> Test imput page</title>
		<meta name="viewport" Content="width=device-width, inital-scale=0.1">
		<link rel="stylesheet" href="/static/bootstrap.css" media="screen">
	</head>
	<body bgcolor="#E6E6FA">
		<div class="col-md-12">
			<nav class="navbar navbar-inverse" role="navigation">
      			<a class="navbar-brand" href="/">Mob Book</a>
		   	   	<a class="navbar-brand" href="About">About</a>
      			<a class="navbar-brand" href="Faq">Faq</a>
			</nav>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					<div class="jumbotron" >
						<center>
			  				<h1>{{Node[4]}}</h1>
					    	<br><br>
							<div id= "AddNode">
								<form action="" method="post">
			   						<a id = "BtnHide" class="btn btn-primary btn-lg" role="button">Hide</a>
					   				<TAB>
					   				<input class="btn btn-primary btn-lg" role="button" type="submit" value="Add Line"></p>
			   						<br>
		    						<h3>
				    					<input type = "text" placeholder="Next Line Of the Story" name="TxtAddNode" value="{{request.form.username }}" maxlength="140">
									</h3>				 				
									<br>
						 			<blockquote>
				 						<footer>max 140 charictors</footer>
									</blockquote>			
								</form>
							</div>
							<div id= "HideNode">
		     					<p><a id="BtnShow" class="btn btn-primary btn-lg" role="button">Extend The Story</a></p><br>
							</div>
					    </center>
					</div>
				</div>
				<div class="container-fluid col-md-6" >
      				<ul class="nav nav-pills nav-stacked navbar-left">
 						<li role="presentation" class="active"><a href=""><center><h3>The Next Line To The Story</center></h3></a></li>
  						{% for o in Child_list %}
							<li role="presentation"><a href="/ID/{{o[0]}}"><h4>{{ o[4] }}</h4></a></li>		
						{% else %}
	    					<li role="presentation"><a href="About"><h4>there aren't any more parts to this story</h4></a></li>
	 					{% endfor %}
	 				</ul>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<nav class="navbar navbar-inverse" role="navigation">
    			<center><h4>©2014 Me Gone Mad1</h4></center>
			</nav>
		</div>
		<script>
			var section1 = document.getElementById("AddNode");
			var button1= document.getElementById("BtnHide");
			var section2 = document.getElementById("HideNode");
			var button2= document.getElementById("BtnShow");
			var showSection1 = function() {
    			section1.style.display = "block";
 			   	section2.style.display = "none";
			};
			var showSection2 = function() {
    			section1.style.display = "none";
    			section2.style.display = "block";
			};
			button1.addEventListener("click", function(e) {
    			showSection2();
			});
			button2.addEventListener("click", function(e) {
    			showSection1()
			});
			showSection2();
		</script>
	</body>
</html>