<html>
	<head>
		<title>#{{WebName}}-About</title>
		<meta name="viewport" Content="width=device-width, inital-scale=0.1">
		<link rel="stylesheet" href="/static/bootstrap.css" media="screen">
		<link rel="icon" type="/image/png" href="/static/resorces/favicon16.png" sizes="16x16">
		<link rel="icon" type="/image/png" href="/static/resorces/favicon32.png" sizes="32x32">		
		<link rel="icon" type="/image/png" href="/static/resorces/favicon48.png" sizes="48x48">
	</head>
		<div class="col-md-12">
			<nav class="navbar navbar-inverse pfixedwide" role="navigation">
      			<a class="navbar-brand" href="/">#{{WebName}}</a>
		   	   	<a class="navbar-brand" href="/About">About</a>
      			<a class="navbar-brand" href="/Faq">Faq</a>
      			<a class="navbar-brand" href="/new">Most Recent Storys</a>
			</nav>
		</div>
		<div class="col-md-12">
			<nav class="navbar navbar-inverse pfixedwide bottombar" role="navigation">
    			<center><h4>©2014 Me Gone Mad1</h4></center>
			</nav>
		</div>
			<div class="jumbotron col-md-12 fulljumbo indent-5 BlueBorder" >
				<div class="BlueFill">
				<h1>The most recent posts</h1>
				</div>
				<div class="panel panel-default">
				<center>					
  						<div class="panel-body fulljumbo">
  					{% for o in RecentList %}
  							
  							<h2><a href="/ID/{{o.Id}}">{{o.Body}}</a></h2>
  							<p>Rating: {{o.Rating}} | Hits: {{o.Hits}} | <small><a href="/ID/{{o.Parent}}">See previous line</a> | <a href="/ID/{{o.Id}}">Go to line</a></small></p>
  							<hr>
  							
  					{% else %}
  						
  							<h2>No one has posted recently</h2>
  							<p>Check back later....</p>
  						
  					{% endfor %}</center>
  				</div></div>
  			</div>
		
	</body>
</html>